<h1>Privacy</h1>

<h2>Wat is het doel van deze website?</h2>
Het publiceren van statistieken over zelftesten.
<p></p>
<h2>Wat wordt er opgeslagen van mij?</h2>
<p>
  <ul>
    <li>De datum waarop je de zelftest hebt gedaan</li>
    <li>De uitslag van je zelftest</li>
  </ul>
</p>
<p>
Aan je ip-adres wordt gedurende 30 minuten een willekeurige waarde gekoppeld. Deze koppeling wordt in het werkgeheugen opgeslagen.
De willekeurige waarde koppelen we vervolgens aan alle testuitslagen die vanaf dat ip-adres binnenkomen. 
Op deze manier kunnen we testuitslagen verwijderen die niet met de beste bedoelingen zijn ingediend.
</p>
<p>Voor de meer technisch ingevoerden, zie ook <%= link_to 'de broncode op GitHub', 'https://github.com/LoranKloeze/zelftestgedaan.nl' %>.</p>

<h2>Welke cookies gebruikt deze site?</h2>
<p>Deze site gebruikt één sessiecookie. Er worden geen trackingcookies geplaatst.</p>

<h2>Bij wie moet ik zijn voor vragen?</h2>
<p>Bij Loran Kloeze (loran@loran.cc)</p>
